
<h2 align="center">Мои заметки</h2>
<hr>

<table>
  <td width="30%"></td>
    <td><table>
    <tr *ngFor="let task of tasks"
        [class.selected]="task === selectedTask"
        (click)="onSelect(task)">
      <!--<div class="">-->
        <td>{{task.name}}</td>
        <td width="10"></td>
        <td>{{task.details}}</td>
        <td width="10"></td>
        <td>{{task.date}}</td>
      <!--</div>-->
      <td><button (click)="del(task.id)">Удалить</button></td>
    </tr>
    </table></td>
<td>
  <table border="0px" cellspacing="2" width="30%" align="right">
  <tr>
    <td width="20px">Название:</td>
    <td><input #taskName /></td>
  </tr>
  <tr><td>Детали:</td>
    <td><input #taskDetails /></td>
  </tr>
  <tr><td>Дата:</td>
    <td><input #taskDate /></td>
  </tr>
  <!-- (click) passes input value to add() and then clears the input -->
    <td></td><div align="right"><button (click)="add(taskName.value, taskDetails.value, taskDate.value);
  taskName.value=''; taskDetails.value=''; taskDate.value=''">
    Добавить
  </button>
  </div>
  </table>
</td>

<tr><td></td><td>
<table *ngIf="flag" border="0px">
  <h2>{{ selectedTask.name }}</h2>
  <!--<div><span>id: </span>{{selectedTask.id}}</div>-->
  <tr><td width="5px">Название:</td>
    <td><input [(ngModel)]="selectedTask.name" placeholder="name"></td>
  </tr>

  <tr><td>Детали:</td>
    <td><input [(ngModel)]="selectedTask.details" placeholder="details"></td>
  </tr>
  <tr><td>Дата:</td>
    <td><input [(ngModel)]="selectedTask.date" placeholder="date"></td>
  <tr>
  <tr>
    <td></td><td><button (click)="clear()">Отмена</button>
    <button (click)="change(selectedTask)">Изменить</button></td>
  </tr>
</table>
</td>
</tr>
</table>
